<%- include('./partials/header'); -%>

<div  align="middle" style="background-color: black;">


<h1>Achievements</h1>


<p style="background-color: black; color:white;">Lionel Andrés Messi[note 1] (Spanish pronunciation: [lionel andɾeas messi] i; bor
    n 24 June 1987), also known as Leo Messi, is an Argentine professional footballer who plays as a forward fo
    r and captains both Major League Soccer club Inter Miami and the Argentina national team. Regarded as on
    e of the greatest players of all time, Messi has won a record seven Ballon d'Or awards[note 2] and a record six European Golden Shoes, and in 2020 hin 2021, he had spent
     his entire professional career with Barcelona, where he won a club-record 34 trophies, including ten La Liga titles, seven Copa del Reythe UEFA Champions League four time
    s.[note 3] With his country, he won the 2021 Copa América and the 2022 FIFA World
     Cup. A prolific goalscorer and creative playmaker, Messi holds the records for most goals in La Liga (474)
     , most hat-tricks in La Liga (36) and the UEFA Champions League (eight), and most assists in La Liga (192) and the Copa América (17). He also has the most international goals by a South American male (104).
    Messi has scored over 800 senior career goals for club and country, and has the most goals by a player for a single club (672).
</p>

<br>

<a href="img.jpg" download>
<img src="img.jpg"  alt="img.jpg"  height="200" width="200"></img>
<div class="vertical-centre">
<button type="button" class="btn btn-success">download</button>
</div>
</a>
    

<br>

<p style="background-color: black; color:white;">Barcelona had virtually secured their La Liga title by the start of 2013, eventually equalling Re
    al Madrid's 100-point record of the previous season. However, their performances deteriorated in
     the second half of the 201213 campaign, concurrently with Vilanova's absence due to ill health.[
     144] After losing successive Clásicos, including the Copa del Rey semi-finals, they were nearly e
     liminated in the first knockout round of the Champions League by AC Milan, but a revival of form 
     in the second leg led to a 40 comeback, with two goals and an assist from Messi.[145] Now in h
     is ninth senior season with Barcelona, Messi signed a new contract on 7 February, committing h
     imself to the club through 2018, while his fixed wage rose to €13 million.[146][147] He wore the
     captain's armband for the first time a month later, on 17 March, in a league match against Rayo 
     Vallecano; by then, he had become the team's tactical focal point to a degree that was arguably 
     rivalled only by former Barcelona players Josep Samitier, László Kubala and Johan Cruyff.[148] 
     Since his evolution into a false nine three years earlier, his input into the team's attack had 
     increased; from 24% in their treble-winning campaign, his goal contribution rose to more than 4
     0% that season.[149]

</p>

<%- include('./partials/footer'); -%>

</div>